.link {
  color: var(--foreground-color);
  text-decoration: none;
  min-width: 8rem;
  max-width: 24rem;
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 8px;
  margin-left: -1rem;
  display: list-item;
}

.link:hover {
  background-color: var(--foreground-dark);
}

.menuitem {
  list-style-type: none;
}

.active {
  background-color: var(--foreground-dark);
}
