.icon {
  margin: 4px;
}

.li {
  margin: 0.25rem 1.15rem;
  transition: 0.2s ease-in-out 0s;
}

.li:hover {
  transform: scale(1.05);
}

.link {
  color: var(--foreground-color);
  text-decoration: none;
}

.name:hover {
  text-decoration: underline;
}
