/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #E6F5FF;
  --foreground-color: #1B262C;
  --foreground-dark: #d7ecfa;
  --primary-accent: #3282B8;
  --secondary-accent: #83aac5;
  --tertiary-accent: #BBE1FA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1B262C;
    --foreground-color: #E6F5FF;
    --foreground-dark: rgb(53, 59, 63);
    --secondary-accent: #0F4C75;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr auto;
  margin: auto;
  min-height: 100vh;
  min-width: 200px;
  max-width: 1440px;
  overflow-x: scroll;
  position: relative;
  scrollbar-color: var(--foreground-color);
  scrollbar-width: 4px;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--foreground-color);
}
