/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #E6F5FF;
  --foreground-color: #1B262C;
  --primary-accent: #3282B8;
  --secondary-accent: #0F4C75;
  --tertiary-accent: #BBE1FA;
  --foreground-dark: #d7ecfa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1B262C;
    --foreground-color: #E6F5FF;
    --foreground-dark: rgb(53, 59, 63);
  }
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--background-color);
  color: var(--foreground-color);
  overflow-x: scroll;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: auto;
  min-width: 500px;
  max-width: 1440px;
}

.header h1 {
  color: var(--foreground-color);
}

.header {
  position: relative;
  height: 40px;
  display: flex;
  justify-content: center;
  padding: 24px 32px;
  margin-top: 24px;
  margin-bottom: 24px;
  min-width: 500px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
  max-width: 1440px;
  min-width: 300px;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.brand {
  font-size: 1rem;
  letter-spacing: 0.05em;
}

.header-navbar {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.header-navbar > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 4vw;
  flex-shrink: 0;
}

.navbar-menu {
  display: none;
}

.footer, .footer-wrapper {
  margin-bottom: 16px;
  margin-top: 16px;
}

.footer-wrapper > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2vw;
  flex-wrap: wrap;
  font-size: 0.9em;
}

.footer-wrapper > ul > li {
  width: 100px;
}

.inline_icon {
  margin: 4px;
}

.link {
  color: var(--foreground-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
