.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  min-width: 200px;
  position: relative;
}

.footer-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
